<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %-40(%d{HH:mm:ss.SSS} [%thread]) %-30(.\(%F:%L\)) %-5level - %msg%n
            </pattern>
        </encoder>
    </appender>
    <timestamp key="date" datePattern="yyyy-MM-dd"/>
    <!-- Daily rollover appender that also appends timestamp and rolls over on startup -->
    <appender name="FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/latest.log</file>
        <encoder>
            <pattern>
                %-40(%d{HH:mm:ss.SSS} [%thread]) %n%-40(%logger{36}:%L) %-5level - %msg %n%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/${date}-%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
            <!--<cleanHistoryOnStart>true</cleanHistoryOnStart>-->
        </rollingPolicy>
        <triggeringPolicy class="knote.logging.RollOncePerSessionTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
    </appender>
    <!--<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/knote.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/knote.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>-->
    <!--<timestamp key="startTimestamp" datePattern="yyyyMMddHHmmssSSS"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <Pattern>
                %-30(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{36}:$line - %msg .\(%F:%L\)%n
            </Pattern>
        </encoder>

        <file>${LOG_FOLDER}/${LOG_FILENAME}-${startTimestamp}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER}/knote-${startTimestamp}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            &lt;!&ndash;<maxFileSize>10MB</maxFileSize>&ndash;&gt;
            &lt;!&ndash; keep 7 days' worth of history &ndash;&gt;
            &lt;!&ndash;<maxHistory>7</maxHistory>&ndash;&gt;
            &lt;!&ndash;<totalSizeCap>20GB</totalSizeCap>&ndash;&gt;
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>-->
    <!--<logger name="knote.core" level="TRACE"/>-->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE_APPENDER"/>
    </root>
</configuration>